{% extends "base.html" %}

{% block content %}
    <main class="catalog-page">
        <div class="container">
            <h2>Каталог товаров</h2>
            <div class="product-grid">

                <div class="product-card">
                    <div class="product-image">
                        <img src="https://adgesia.ru/upload/dev2fun.imagecompress/webp/iblock/a6c/a6c5ae4bdea9e64fd2e4c54d0cded362.webp"
                             alt="Футболка"/>
                    </div>
                    <h3>Футболка черная</h3>
                    <p>₽1 200</p>
                </div>
            </div>

            <div class="pagination">
                <a href="#" class="page-btn">«</a>
                <a href="#" class="page-btn active">1</a>
                <a href="#" class="page-btn">2</a>
                <a href="#" class="page-btn">3</a>
                <a href="#" class="page-btn">»</a>
            </div>
        </div>
    </main>
{% endblock %}
