{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="hero">
    <div class="hero-content">
      <p class="hero-text">
        качественно <span class="newline">и под ключ</span>
      </p>
      <button class="hero-btn">Заказать</button>
    </div>
  </section>
  <section class="slogan">
    <div class="slogan-text">
      АртЦех - Ваш надежный производитель <span class="newline">фирменной продукции</span>
    </div>
  </section>
  <section class="about-us">
    <h1>о нас</h1>
    <div class="row">
      <div class="text">
        <p>
          Мы создаём фирменный мерч, деловую атрибутику и рекламные
          сувениры, помогая компаниям укреплять бренд и корпоративную
          культуру. Наши решения подходят для бизнесов любого масштаба
          - от стартапов до крупных компаний.
        </p>
        <p>
          Мы разрабатываем каждое изделие с учётом ваших целей и стиля,
          чтобы оно не только выглядело презентабельно, но и эффективно
          представляло Ваш бренж. Будь то одежда для команды или
          подарки партнёрам - каждая деатль работает на имидж.
        </p>
      </div>
      <div class="text">
        <p>
          Благодаря современным технологиям и отлаженным процессам
          мы оперативно выполняем заказы, в том числе срочные, без
          потери качества. Сроки - наш приоритет.
        </p>
        <p>
          Мы берем на себя всё: производство, контроль и доставку. Вам
          не нужно следить за процессом - вы получаете готовую
          продукцию точно в срок.
        </p>
        <p>
          С нами вы получаете не поставщика, а партнёра, которые
          заботится о вашем бренде.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-title">
          Выбор
        </div>
        <div class="card-content">
          Обширный каталог товаров и способов нанесения
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          удобство
        </div>
        <div class="card-content">
          Можно выбрать удобный способ оплаты и доставки
        </div>
      </div>
      <div class="card">
        <div class="card-title">
          Качество
        </div>
        <div class="card-content">
          Мы работаем только
          с проверенными производителями
        </div>
      </div>
    </div>
  </section>
  <section class="slogan-blue">
    <div class="slogan-blue-text">
      Мы делаем все: от создания дизайна<span class="newline">до печати и пошива</span>
    </div>
  </section>
  <section class="cases">
    <h1>кейсы</h1>
  </section>

  <section class="catalog">
    <div class="row">
      <div class="column">
        <h1>каталог</h1>
        <div class="row">
          <div class="column" style="width: 60%">
            <h2>Одежда</h2>
            <ul>
              <li>Футболки и поло</li>
              <li>Куртки, бомберы, жилетки</li>
              <li>Дождевики</li>
              <li>Бейсболки</li>
              <li>Шевроны</li>
            </ul>
          </div>
          <div class="column">
            <h2>Аксессуары</h2>
            <ul>
              <li>Футболки и поло</li>
              <li>Куртки, бомберы, жилетки</li>
              <li>Дождевики</li>
              <li>Бейсболки</li>
              <li>Шевроны</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column" style="padding: 40px; align-items: end">
        <h2>Для мероприятий</h2>
        <ul>
          <li>Бейджи с фирменными ланьярдами</li>
          <li>Папки с индивидуальным дизайном</li>
          <li>Кружки</li>
          <li>Флешки</li>
          <li>Флаги под флагшток, парусный флаг</li>
          <li>Ролл-апы, пресс-волы</li>
          <li>Картины на пенокартоне</li>
          <li>КУБы ПВХ с закатанной пленкой</li>
          <li>Пакеты</li>
          <li>Пластиковые карты</li>
          <li>Пледы</li>
          <li>Листовки, конверты, таблички, открытки</li>
          <li>Эпоксидные наклейки</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="technologies">
    <h1>Технологии нанесения</h1>
    <div class="row">
      <div class="card card-active" data-target="content-1">
        <div class="card-content">
          Шелкография
        </div>
      </div>
      <div class="card" data-target="content-2">
        <div class="card-content">
          Сублимация
        </div>
      </div>
      <div class="card" data-target="content-3">
        <div class="card-content">
          Флексопечать
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          Тиснение
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-content">
          Вышивка
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          DTF-Печать
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          Цифровая и УФ-печать
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          Лазерная гравировка
        </div>
      </div>
    </div>

    <div class="row-extra">
      <div id="content-1" class="tab-content">test1</div>
      <div id="content-2" class="tab-content">test2</div>
      <div id="content-3" class="tab-content">test2</div>
    </div>
  </section>

{% endblock %}



