{% extends "base.html" %}
{% load static %}

{% block content %}

  <section id="hero" class="hero">
    <div class="hero-content">
      <p class="hero-text">
        качественно <span class="newline">и под ключ</span>
      </p>
      <button class="hero-btn">Заказать</button>
    </div>
  </section>

  <section id="slogan" class="slogan">
    <div class="slogan-text">
      АртЦех - Ваш надежный производитель <span class="newline">фирменной продукции</span>
    </div>
  </section>

  <section id="about-us" class="about-us">
    <h1>о нас</h1>
    <div class="section-content">
      <div class="row">
        <div class="text">
          <p>
            Мы создаём фирменный мерч, деловую атрибутику и рекламные
            сувениры, помогая компаниям укреплять бренд и корпоративную
            культуру. Наши решения подходят для бизнесов любого масштаба
            - от стартапов до крупных компаний.
          </p>
          <p>
            Мы разрабатываем каждое изделие с учётом ваших целей и стиля,
            чтобы оно не только выглядело презентабельно, но и эффективно
            представляло Ваш бренж. Будь то одежда для команды или
            подарки партнёрам - каждая деатль работает на имидж.
          </p>
        </div>
        <div class="text">
          <p>
            Благодаря современным технологиям и отлаженным процессам
            мы оперативно выполняем заказы, в том числе срочные, без
            потери качества. Сроки - наш приоритет.
          </p>
          <p>
            Мы берем на себя всё: производство, контроль и доставку. Вам
            не нужно следить за процессом - вы получаете готовую
            продукцию точно в срок.
          </p>
          <p>
            С нами вы получаете не поставщика, а партнёра, которые
            заботится о вашем бренде.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-title">
            Выбор
          </div>
          <div class="card-content">
            Обширный каталог товаров и способов нанесения
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            удобство
          </div>
          <div class="card-content">
            Можно выбрать удобный способ оплаты и доставки
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            Качество
          </div>
          <div class="card-content">
            Мы работаем только
            с проверенными производителями
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="slogan-blue" class="slogan-blue">
    <div class="slogan-blue-text">
      Мы делаем все: от создания дизайна<span class="newline">до печати и пошива</span>
    </div>
  </section>

  <section id="cases" class="cases">
    <h1>кейсы</h1>
    <div class="section-content">
    </div>
  </section>

  <section id="catalog" class="catalog">
    <div class="section-content">
      <div class="row">
        <div class="column">
          <h1 style="margin-bottom: 25px">каталог</h1>
          <div class="row">
            <div class="column">
              <h2 style="margin-bottom: 15px">Одежда</h2>
              <ul>
                <li>Футболки и поло</li>
                <li>Куртки, бомберы, жилетки</li>
                <li>Дождевики</li>
                <li>Бейсболки</li>
                <li>Шевроны</li>
              </ul>
            </div>
            <div class="column">
              <h2 style="margin-bottom: 15px">Аксессуары</h2>
              <ul>
                <li>Футболки и поло</li>
                <li>Куртки, бомберы, жилетки</li>
                <li>Дождевики</li>
                <li>Бейсболки</li>
                <li>Шевроны</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <h2 style="margin-bottom: 15px">Для мероприятий</h2>
          <ul>
            <li>Бейджи с фирменными ланьярдами</li>
            <li>Папки с индивидуальным дизайном</li>
            <li>Кружки</li>
            <li>Флешки</li>
            <li>Флаги под флагшток, парусный флаг</li>
            <li>Ролл-апы, пресс-волы</li>
            <li>Картины на пенокартоне</li>
            <li>КУБы ПВХ с закатанной пленкой</li>
            <li>Пакеты</li>
            <li>Пластиковые карты</li>
            <li>Пледы</li>
            <li>Листовки, конверты, таблички, открытки</li>
            <li>Эпоксидные наклейки</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="technologies" class="technologies">
    <h1>технологии нанесения</h1>
    <div class="section-content">
      <div class="row">
        {% for technology in technologies %}
          <div class="card {% if forloop.counter == 1 %}active{% endif %}" data-target="{{ technology.slug }}">
            <div class="card-content">
              {{ technology.name }}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row-extra active">
        {% for technology in technologies %}
          <div id="{{ technology.slug }}" class="tab-content {% if forloop.counter == 1 %}active{% endif %}">
            <div class="column">
              <h2>{{ technology.name }}</h2>
            </div>
            <div class="column">
              {{ technology.description|safe }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {#      <div class="row">#}
    {#        <div class="card active" data-target="content-1">#}
    {#          <div class="card-content">#}
    {#            Шелкография#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="card" data-target="content-2">#}
    {#          <div class="card-content">#}
    {#            Сублимация#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="card" data-target="content-3">#}
    {#          <div class="card-content">#}
    {#            Флексопечать#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="card">#}
    {#          <div class="card-content">#}
    {#            Тиснение#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#      <div class="row">#}
    {#        <div class="card">#}
    {#          <div class="card-content">#}
    {#            Вышивка#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="card">#}
    {#          <div class="card-content">#}
    {#            DTF-Печать#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="card">#}
    {#          <div class="card-content">#}
    {#            Цифровая и УФ-печать#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="card">#}
    {#          <div class="card-content">#}
    {#            Лазерная гравировка#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}


    {#      <div class="row-extra active">#}
    {#        <div id="content-1" class="tab-content active">#}
    {#          <div class="column">#}
    {#            <h2>Шелкография</h2>#}
    {#          </div>#}
    {#          <div class="column">#}
    {#            Чернила передаются на поверхность через щаблон (шёлк или другой материал)#}
    {#            <span class="newline">#}
    {#          - может быть использован для нанесения на различные поверхности: текстиль, пластик, металл и т.д.#}
    {#          </span>#}
    {#            <span class="newline">#}
    {#          - некоторые особо мелкие детали может быть трудно воспроизвести#}
    {#          </span>#}
    {#          </div>#}
    {#        </div>#}
    {#        <div id="content-2" class="tab-content">test2</div>#}
    {#        <div id="content-3" class="tab-content">test2</div>#}
    {#      </div>#}
    {#    </div>#}
  </section>

  <section id="stages" class="stages">
    <h1>этапы</h1>
    <h3>формирования заказа</h3>
    <div class="section-content">
      <div class="timeline">
        <div class="container">
          <div class="content">
            <h4>Заполнение заявки</h4>
            <p>
              В течение 2-х часов после заполнения заявки с вами свяжется менеджер
              для уточнения деталей.
              <span class="newline">В будни с 10:00 до 19:00 по МСК.</span>
            </p>
          </div>
        </div>
        <div class="container">
          <div class="content">
            <h4>Обсуждение технического задания, просчет необходимых позиций</h4>
            <p></p>
          </div>
        </div>
        <div class="container">
          <div class="content">
            <h4>Подготовка макета</h4>
            <p>
              При необходимости возможно привлечение дизайнера к
              редактированию вашего макета под требования ТЗ.
            </p>
          </div>
        </div>
        <div class="container">
          <div class="content">
            <h4>Согласование ТЗ и сметы</h4>
            <p></p>
          </div>
        </div>
        <div class="container">
          <div class="content">
            <h4>Оплата</h4>
            <p></p>
          </div>
        </div>
        <div class="container">
          <div class="content">
            <h4>Изготовление заказа и доставка</h4>
            {#            <p></p>#}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="order" class="order">
    <h1>заказать</h1>
    <div class="section-content">
      <form id="formOrder" class="form-order" action="/new-order/" method="post">
        {% csrf_token %}
        <div class="form-item">
          {{ form.full_name }}
          <label for="fullname">Ваше имя</label>
        </div>
        <div class="form-item">
          {{ form.contact }}
          <label for="contact">Телефон, почта, ник в Telegram</label>
        </div>
        <div class="form-item">
          {{ form.product_type }}
          <label for="productType">Тип изделия</label>
        </div>
        <div class="form-item">
          {{ form.count }}
          <label for="count">Тираж</label>
        </div>
        <button type="submit" id="submitBtn" class="order-btn">Отправить</button>
        <button type="submit" id="submitBtn" class="order-btn-burger">Отправить</button>
      </form>
      <div id="formAlert" style="display:none; margin-top:25px;"></div>
    </div>
  </section>

  <section id="faq" class="faq">
    <h1>ответы</h1>
    <h3>на часто задаваемые вопросы</h3>
    <div class="section-content">
      {% for faq_item in faq_items %}
        <div class="card-collapse">
          <div class="card-title">
            {{ faq_item.title }}
            <button class="collapse-btn">
              <img src="{% static 'assets/cross.png' %}" alt="toggle" class="icon">
            </button>
          </div>
          <div class="card-content">
            <p>{{ faq_item.text|safe }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="contacts" class="contacts">
    <h1>контакты</h1>
    <div class="section-content">
      <div class="contacts-container">
        <div class="item">
          <img src="{% static 'assets/map.svg' %}" alt="Phone" class="icon">
          <span class="text">{{ address }}</span>
        </div>
        <div class="item">
          <img src="{% static 'assets/mail.svg' %}" alt="Email" class="icon">
          <span class="text">{{ email }}</span>
        </div>
        <div class="item">
          <img src="{% static 'assets/telegram.svg' %}" alt="Address" class="icon">
          <span class="text">{{ telegram }}</span>
        </div>
        <div class="item">
          <img src="{% static 'assets/wa.svg' %}" alt="Address" class="icon">
          <span class="text">{{ whatsapp }}</span>
        </div>
      </div>
    </div>
  </section>

{% endblock %}



