{% extends "base.html" %}

{% block content %}
    <main class="container" style="padding: 1rem;">
        <h2 style="text-align: center; margin-bottom: 2rem; color: var(--color-primary-dark);">Калькулятор заказа</h2>
        <div class="calculator-grid">
            <!-- Левая карточка -->
            <div class="calc-card">
                <h3>Выберите параметры</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ calculator_form.as_p }}
                    {{ order_form.as_p }}
                    <button type="submit" class="btn" style="margin-top: 1rem;">Отправить</button>
                </form>
            </div>

            <!-- Правая карточка -->
            {#      <div class="calc-card">#}
            {#        <h3>Оставьте заявку</h3>#}
            {#        <form method="post">#}
            {#          {% csrf_token %}#}
            {#          #}
            {#          <button type="submit" class="btn" style="margin-top: 1rem;">Отправить</button>#}
            {#        </form>#}
            {#      </div>#}
        </div>
    </main>
{% endblock %}