{% extends "base.html" %}

{% block content %}
    <main class="product-page">
        <div class="container product-container">
            <div class="product-image-large">
                <img src="https://adgesia.ru/upload/dev2fun.imagecompress/webp/iblock/a6c/a6c5ae4bdea9e64fd2e4c54d0cded362.webp"
                     alt="Футболка"/>
            </div>
            <div class="product-details">
                <h2>Футболка черная</h2>
                <p class="product-price">₽1 200</p>
                <p class="product-description">
                    Универсальная черная футболка из 100% хлопка. Подходит как для повседневного ношения, так и для
                    активного отдыха.
                </p>
                <button class="btn btn-add-to-cart">Добавить в корзину</button>
            </div>
        </div>
    </main>
{% endblock %}
