{% load static %}

<div class="header-wrapper">
  <header class="site-header">
    <div class="logo">
      <a href="#hero">
        <img src="{% static 'assets/logo_horizontal.png' %}" alt="Мерч"/>
      </a>
    </div>

    <div class="nav-center">
      <a href="#about-us" class="nav-link">о нас</a>
      <a href="#cases" class="nav-link">кейсы</a>
      <a href="#catalog" class="nav-link">каталог</a>
      <a href="#stages" class="nav-link">этапы</a>
      <a href="#faq" class="nav-link">вопросы</a>

      <a href="#order" class="order-btn-burger">Заказать</a>
    </div>

    <a href="#order" class="order-btn">Заказать</a>

    <div class="burger">
      <img class="burger-icon" src="{% static 'assets/burger.png' %}" alt="burger icon">
    </div>
  </header>
</div>